::ng-deep .p-progressbar-value {
    background: linear-gradient(
            90deg,
            transparent 0%,
            var(--p-primary-color) 15%,
            var(--p-primary-color) 85%,
            transparent 100%
    ) !important;
}
