/* Maybe try to do this without the ::ng.deep stuff and generally clean it up later */
:host ::ng-deep .p-autocomplete-input {
  padding-left: 2.5rem !important;
}

:host ::ng-deep .p-autocomplete-input:focus::placeholder {
  opacity: 0;
}

:host ::ng-deep .p-autocomplete::before {
  content: '';
  position: absolute;
  left: .75rem;
  top: 50%;
  transform: translateY(calc(-50% + 1px));
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M10 18a7.952 7.952 0 0 0 4.897-1.688l4.396 4.396 1.414-1.414-4.396-4.396A7.952 7.952 0 0 0 18 10c0-4.411-3.589-8-8-8s-8 3.589-8 8 3.589 8 8 8zm0-14c3.309 0 6 2.691 6 6s-2.691 6-6 6-6-2.691-6-6 2.691-6 6-6z'/%3E%3C/svg%3E") no-repeat center;
  background-color: var(--p-inputtext-placeholder-color);
  pointer-events: none;
  z-index: 1;
}
