<p-card header="Premier League">
  <div class="grid grid-cols-[3rem_1fr_3rem] gap-0">
    @for (group of groupedMatches(); track group.date; let first = $first) {
      <div [class.app-grid-header]="first" [class.app-grid-sub-header]="!first" class="col-span-3">
        {{ group.date === 'Postponed' ? 'Postponed' : (group.date | safeDate: 'EEEE, MMMM d') }}
      </div>
      @for (match of group.matches; track match.id; let last = $last) {
        <div
          class="col-span-3 grid grid-cols-subgrid cursor-pointer"
          [class.app-grid-separator]="!last"
          (click)="onClick(match.id)"
        >
          <div class="app-grid-cell text-xs tabular-nums">
            {{ match.datetime | safeDate: 'HH:mm' }}
          </div>
          <app-match-base class="app-grid-cell" [match]="match" />
          <div class="app-grid-cell text-xs justify-end">
            @if (
              match.status === Status.ACTIVE ||
              match.status === Status.FULL_TIME ||
              match.status === Status.FINISHED
            ) {
              <span>{{ match.elapsed }}</span>
            }
          </div>
        </div>
      }
    }
  </div>
</p-card>
