<div
  class="app-row justify-between p-4"
  [ngClass]="headerClasses()"
  [style.background-color]="effectiveBackgroundColor()"
>
  <div class="app-row-2">
    @if (hasStack()) {
      <button (click)="navigateToPrevious()" class="app-button-icon">
        <app-svg-icon name="chevron-left" size="lg" />
      </button>
    } @else {
      <div class="app-circle" [class.bg-primary]="!backgroundColor()">
        <app-d11-lion-light-img [size]="28" />
      </div>
    }
    <div>
      <div class="app-text-title">{{ title() }}</div>
      <div class="app-text-detail">{{ subtitle() }}</div>
    </div>
  </div>
  <app-navbar-link class="hidden lg:block" />
  <app-utility-bar />
</div>
