<span class="shrink-0 w-[calc(50%-2.25rem)]"></span>
@for (item of items(); track item.id) {
  <button
    type="button"
    [attr.data-id]="item.id"
    class="app-col shrink-0 min-w-12 px-2 py-1 rounded-sm items-center h-9.5 border border-transparent"
    [class.bg-primary-300]="item.id === selectedId() && !item.current"
    [class.border-white]="item.current"
    (click)="selected.emit(item.id)"
  >
    @if (item.header) {
      <span class="text-[0.6rem]">{{ item.header }}</span>
    }
    <span class="app-text-header">{{ item.label }}</span>
    @if (item.sublabel) {
      <span class="text-[0.6rem] app-text-number">{{ item.sublabel }}</span>
    }
    @if (item.date) {
      <span class="text-[0.6rem] app-text-number">{{ item.date | safeDate: 'd MMM' }}</span>
    }
  </button>
}
<span class="shrink-0 w-[calc(50%-2.25rem)]"></span>
