<div class="app-d11-teams-page app-col pb-4">
  <div class="app-row bg-primary text-primary-contrast rounded-sm p-2">
    <button
      (click)="onLiveClick()"
      class="px-2 py-1 rounded-sm app-text-header border-none cursor-pointer outline-none min-w-12 h-9.5"
      type="button"
    >
      Live
    </button>

    <app-season-scroll-picker
      class="min-w-0"
      [seasonId]="seasonId()"
      (seasonSelected)="onSeasonSelected($event)"
    />

    @if (seasonId(); as selectedId) {
      <app-season-picker-button
        [seasonId]="selectedId"
        (seasonSelected)="onSeasonSelected($event)"
      />
    }
  </div>

  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 pt-4">
    @for (stat of model().d11TeamSeasonStats; track stat.id) {
      <app-d11-team-player-season-stats-section
        [d11TeamId]="stat.d11Team.id"
        [seasonId]="seasonId()"
        context="d11-teams"
        [d11Team]="stat.d11Team"
        [positions]="model().positions"
      />
    }
  </div>
</div>
