<app-hero-container>
  @if (model().player; as player) {
    <app-player-hero heroContent [player]="player" [playerSeasonStat]="model().playerSeasonStat" />
  }

  <div class="flex flex-col gap-4 sm:flex-row">
    <div class="app-col-4 app-fill">
      @if (model().playerSeasonStat) {
        <app-player-season-stat-section [playerSeasonStat]="model().playerSeasonStat!" />
      }

      <app-player-career-stats-section [playerId]="playerId()" />
    </div>

    @if (model().playerSeasonStat; as playerSeasonStat) {
      <app-player-season-match-stats-section
        [playerId]="playerId()"
        [seasonId]="playerSeasonStat.season.id"
      />
    }
  </div>
</app-hero-container>
