@if (player(); as p) {
  <p-card class="app-player-info-card">
    <div class="grid grid-cols-3 gap-6">
      <div class="app-col-sm" data-testid="nationality">
        <div class="app-text-low-emphasis">Nationality</div>
        <div class="app-row-sm app-text-high-emphasis">
          @if (p.country) {
            <app-country-img [country]="p.country" />
            <span class="sm:hidden">{{ p.country.iso }}</span>
            <span class="hidden sm:block">{{ p.country.name }}</span>
          } @else {
            Unknown
          }
        </div>
      </div>
      <div class="app-col-sm" data-testid="date-of-birth">
        <div class="app-text-low-emphasis">Date of Birth</div>
        <div class="app-text-high-emphasis">
          @if (p.dateOfBirth) {
            {{ p.dateOfBirth | safeDate }}
            <span class="hidden sm:block"> age {{ p.dateOfBirth | age }}</span>
          } @else {
            Unknown
          }
        </div>
      </div>
      <div class="app-col-sm" data-testid="height">
        <div class="app-text-low-emphasis">Height</div>
        <div class="app-text-high-emphasis">
          {{ p.height ? `${p.height} cm` : 'Unknown' }}
        </div>
      </div>
    </div>
  </p-card>
}
