<button
  [disabled]="!form.valid || !form.dirty || (working && working())"
  class="app-button-submit w-full"
  pButton
>
  @if (working && working()) {
    <p-progress-spinner
      ariaLabel="loading"
      class="app-button-submit-progress-spinner max-h-[1.5rem]"
      strokeWidth="5"
    />
  } @else {
    @if (icon) {
      <i pButtonIcon class="pi {{ icon }}">
        <span class="app-button-submit-icon hidden">{{ icon }}</span>
      </i>
    }
    <span pButtonLabel>{{ label }}</span>
  }
</button>
