<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="over" fixedInViewport (openedStart)="onOpen()" (closedStart)="onClosed()">
        <mat-list>
            <div mat-subheader>Info</div>
            <mat-list-item class="!h-10 !pr-16">
                <mat-icon matListItemIcon class="!mr-6">book</mat-icon>
                <div matListItemTitle>Rules</div>
            </mat-list-item>
            <mat-list-item class="!h-10 !pr-16">
                <mat-icon matListItemIcon class="!mr-6">information</mat-icon>
                <div matListItemTitle>About D11</div>
            </mat-list-item>
        </mat-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <ng-content></ng-content>
    </mat-sidenav-content>
</mat-sidenav-container>
