<section class="hero-section p-14 xs:p-2 min-h-[550px] xs:min-h-fit">
    <div class="hero-content sm:w-3/4 md:w-2/3 lg:w-1/2 xl:w-1/2 p-3 h-full">
        <h1 class="hero-title pb-5">Elevate Your Fantasy Football Experience</h1>
        <h2 class="hero-subtitle">Where Strategy Meets Glory</h2>
        <div class="mb-10">
            <p>
                Welcome to D11. The beating heart of fantasy football, where your dreams of managing a Premier League team come
                to life. This isn't just a game; it's your chance to reign supreme as the mastermind behind a squad destined
                for greatness.
            </p>
        </div>

        <d11-button>Learn More</d11-button>
    </div>
</section>
