@let pss = playerSeasonStat();
<div class="app-player-season-stat grid grid-cols-2">
  @if (showInfo()) {
    <div class="col-span-2 flex justify-center">
      <app-avatar resource="player" [id]="pss.player.id" size="2xlarge" />
    </div>

    <div class="app-grid-sub-header col-span-2">Info</div>
    <span class="app-grid-cell app-text-low-emphasis">Name</span>
    <span class="app-grid-cell justify-end">
      {{ pss.player.name }}
    </span>
    <div class="app-grid-separator col-span-2"></div>
    <span class="app-grid-cell app-text-low-emphasis">Position</span>
    <span class="app-grid-cell justify-end">
      {{ pss.position.name }}
    </span>
    <div class="app-grid-separator col-span-2"></div>
    <span class="app-grid-cell app-text-low-emphasis">Team</span>
    <span class="app-grid-cell justify-end">
      <app-team-base [team]="pss.team" justify="end" />
    </span>
    <div class="app-grid-separator col-span-2"></div>
    <span class="app-grid-cell app-text-low-emphasis">D11 Team</span>
    <span class="app-grid-cell justify-end">
      <app-d11-team-base [d11Team]="pss.d11Team" justify="end" />
    </span>
  }

  <div class="col-span-2" [class]="showInfo() ? 'app-grid-sub-header' : 'app-grid-header'">D11</div>
  <span class="app-grid-cell app-text-low-emphasis">Ranking</span>
  <span class="app-grid-cell justify-end"> #{{ pss.ranking }} </span>
  <span class="app-grid-cell app-text-low-emphasis">Rating</span>
  <span class="app-grid-cell justify-end">
    {{ pss.rating | rating }}
  </span>
  <div class="app-grid-separator col-span-2"></div>
  <span class="app-grid-cell app-text-low-emphasis">Man of the Match</span>
  <span class="app-grid-cell justify-end"
    >{{ pss.manOfTheMatch }}/{{ pss.sharedManOfTheMatch }}</span
  >
  <div class="app-grid-separator col-span-2"></div>
  <span class="app-grid-cell app-text-low-emphasis">Points</span>
  <span class="app-grid-cell justify-end">{{ pss.points }}</span>
  <div class="app-grid-separator col-span-2"></div>
  <span class="app-grid-cell app-text-low-emphasis">Points / Appearance</span>
  <span class="app-grid-cell justify-end">
    {{ pss.pointsPerAppearance / 100 | number: '1.2-2' }}
  </span>
  <div class="app-grid-separator col-span-2"></div>
  <span class="app-grid-cell app-text-low-emphasis">Fee</span>
  <span class="app-grid-cell justify-end">
    @if (pss.fee > 0) {
      {{ pss.fee | fee }}m
    } @else {
      &ndash;
    }
  </span>

  <div class="app-grid-sub-header col-span-2">Appearances</div>
  <span class="app-grid-cell app-text-low-emphasis">Started</span>
  <span class="app-grid-cell justify-end">
    {{ pss.gamesStarted }}
  </span>
  <div class="app-grid-separator col-span-2"></div>
  <span class="app-grid-cell app-text-low-emphasis">Substitute</span>
  <span class="app-grid-cell justify-end">
    {{ pss.gamesSubstitute }}
  </span>
  <div class="app-grid-separator col-span-2"></div>
  <span class="app-grid-cell border-none app-text-low-emphasis">Minutes played</span>
  <span class="app-grid-cell border-none justify-end">
    {{ pss.minutesPlayed }}
  </span>

  <div class="app-grid-sub-header col-span-2">Attack</div>
  <span class="app-grid-cell app-text-low-emphasis">Goals</span>
  <span class="app-grid-cell justify-end">{{ pss.goals }}</span>
  <div class="app-grid-separator col-span-2"></div>
  <span class="app-grid-cell app-text-low-emphasis">Assists</span>
  <span class="app-grid-cell justify-end">{{ pss.goalAssists }}</span>

  <div class="app-grid-sub-header col-span-2">Defence</div>
  <span class="app-grid-cell app-text-low-emphasis">Goals conceded</span>
  <span class="app-grid-cell justify-end">
    {{ pss.goalsConceded }}
  </span>
  <div class="app-grid-separator col-span-2"></div>
  <span class="app-grid-cell app-text-low-emphasis">Clean sheets</span>
  <span class="app-grid-cell justify-end">{{ pss.cleanSheets }}</span>

  <div class="app-grid-sub-header col-span-2">Discipline</div>
  <span class="app-grid-cell app-text-low-emphasis">Yellow cards</span>
  <span class="app-grid-cell justify-end">{{ pss.yellowCards }}</span>
  <div class="app-grid-separator col-span-2"></div>
  <span class="app-grid-cell app-text-low-emphasis">Red cards</span>
  <span class="app-grid-cell justify-end">{{ pss.redCards }}</span>
  <div class="app-grid-separator col-span-2"></div>
  <span class="app-grid-cell app-text-low-emphasis">Own goals</span>
  <span class="app-grid-cell justify-end">{{ pss.ownGoals }}</span>
</div>
