<app-hero-container>
  @if (model().d11TeamSeasonStat; as d11TeamSeasonStat) {
    <div class="pt-4">
      <app-d11-team-season-stat-section [d11TeamSeasonStat]="d11TeamSeasonStat" />
    </div>
  }

  @if (!isSmOrUp()) {
    <p-tabs [(value)]="activeTab" class="app-pill-tabs">
      <p-tablist class="justify-between py-4">
        <p-tab value="0">Players</p-tab>
        <p-tab value="1">Matches</p-tab>
        <p-tab value="2">History</p-tab>
      </p-tablist>
      <p-tabpanels>
        <p-tabpanel value="0">
          @defer (when activeTab === '0') {
            <app-d11-team-player-season-stats-section
              [d11TeamId]="d11TeamId()"
              [seasonId]="model().season?.id"
            />
          }
        </p-tabpanel>

        <p-tabpanel value="1">
          @defer (when activeTab === '1') {
            <app-d11-team-season-matches-section
              [d11TeamId]="d11TeamId()"
              [seasonId]="model().season?.id"
            />
          }
        </p-tabpanel>

        <p-tabpanel value="2">
          @defer (when activeTab === '2') {
            <app-d11-team-history-stats-section [d11TeamId]="d11TeamId()" />
          }
        </p-tabpanel>
      </p-tabpanels>
    </p-tabs>
  }

  @if (isSmOrUp()) {
    <div class="app-col-4 pt-4">
      <div class="flex gap-4">
        <div class="app-fill">
          <app-d11-team-player-season-stats-section
            [d11TeamId]="d11TeamId()"
            [seasonId]="model().season?.id"
          />
          <div class="pt-4">
            <app-d11-team-history-stats-section [d11TeamId]="d11TeamId()" />
          </div>
        </div>
        <app-d11-team-season-matches-section
          [d11TeamId]="d11TeamId()"
          [seasonId]="model().season?.id"
        />
      </div>
    </div>
  }
</app-hero-container>
