@if (!isLoading()) {
  @let model = this.model();
  @if (model.d11Match; as d11Match) {
    <app-hero-container>
      <app-d11-match-hero heroContent [match]="d11Match" />

      @if (d11MatchEventsList().length > 0) {
        <app-match-events-section [events]="d11MatchEventsList()" class="mb-4" />
      }

      @if (d11Match.status !== Status.PENDING) {
        <div class="app-responsive">
          @for (d11Team of model.d11Teams; track d11Team.id) {
            <app-d11-team-player-match-stats-section
              class="app-fill"
              [d11Team]="d11Team"
              [playerMatchStats]="getD11TeamStats(d11Team.id)"
            />
          }
        </div>
      }
    </app-hero-container>
  }
}
