<div class="breakpoint-container" 
    [class.breakpoint-xs]="breakpointService.isXs()"
    [class.breakpoint-sm]="breakpointService.isSm()" 
    [class.breakpoint-md]="breakpointService.isMd()"
    [class.breakpoint-lg]="breakpointService.isLg()" 
    [class.breakpoint-xl]="breakpointService.isXl()">

    <app-sidenav *ngIf="breakpointService.isSmAndDown()">
        <app-toolbar-sm-and-down></app-toolbar-sm-and-down>

        <router-outlet></router-outlet>
    </app-sidenav>

    <ng-container *ngIf="breakpointService.isMdAndUp()">
        <app-toolbar-md-and-up></app-toolbar-md-and-up>

        <router-outlet></router-outlet>
    </ng-container>

</div>