<div class="breakpoint-container"
    [class.breakpoint-xs]="breakpointService.isXs()"
    [class.breakpoint-sm]="breakpointService.isSm()"
    [class.breakpoint-md]="breakpointService.isMd()"
    [class.breakpoint-lg]="breakpointService.isLg()"
    [class.breakpoint-xl]="breakpointService.isXl()">

    <d11-sidenav *ngIf="breakpointService.isSmAndDown()">
        <d11-toolbar-sidenav></d11-toolbar-sidenav>

        <router-outlet></router-outlet>
    </d11-sidenav>

    <ng-container *ngIf="breakpointService.isMdAndUp()">
        <d11-toolbar-menu></d11-toolbar-menu>

        <router-outlet></router-outlet>
    </ng-container>

</div>
