<mat-toolbar color="primary" class="toolbar-bottom-nav">
    <a mat-icon-button>
        <mat-icon>home</mat-icon>
        <span>Home</span>
    </a>
    <a mat-icon-button>
        <mat-icon>table_chart</mat-icon>
        Tables
    </a>
    <a mat-icon-button>
        <mat-icon>scoreboard</mat-icon>
        Results
    </a>
    <a mat-icon-button>
        <mat-icon>view_column</mat-icon>
        Stats
    </a>
    <a mat-icon-button>
        <mat-icon>transfer_within_a_station</mat-icon>
        Transfers
    </a>
    <a mat-icon-button>
        <mat-icon>menu</mat-icon>
        Menu
    </a>
</mat-toolbar>
