<mat-toolbar color="primary" class="toolbar-bottom-nav">
    <a mat-icon-button>
        <mat-icon>scoreboard</mat-icon>
        Results
    </a>
    <a mat-icon-button>
        <mat-icon>table_chart</mat-icon>
        Tables
    </a>
    <a mat-icon-button>
        <mat-icon>view_column</mat-icon>
        Stats
    </a>
    <a mat-icon-button>
        <mat-icon>people</mat-icon>
        Teams
    </a>
    <a mat-icon-button>
        <mat-icon>euro</mat-icon>
        Transfers
    </a>
    <a mat-icon-button>
        <mat-icon>calendar_month</mat-icon>
        History
    </a>
</mat-toolbar>
