@if (!isLoading()) {
  @let model = this.model();
  @if (model.match; as match) {
    <div
      class="-mx-4 bg-[url('/images/header-background.png')]! bg-cover! bg-center! pb-2"
      [ngClass]="textClass()"
      [style.background-color]="backgroundColor()"
    >
      <div class="flex items-center justify-between px-4 pt-4 pb-2">
        <div class="flex items-center gap-2">
          <button (click)="goBack()" class="opacity-75 flex items-center justify-center shrink-0">
            <svg
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="w-7 h-7"
            >
              <path d="M15 18l-6-6 6-6" />
            </svg>
          </button>
          <div>
            <div class="font-semibold">Match Week 34</div>
            <div class="text-xs opacity-75">Season 2025-2026</div>
          </div>
        </div>
        <div class="flex gap-3 opacity-75">
          <svg
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="w-6 h-6"
          >
            <circle cx="11" cy="11" r="7" />
            <path d="M20 20l-3.5-3.5" />
          </svg>
          <svg
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="w-6 h-6"
          >
            <circle cx="12" cy="8" r="4" />
            <path d="M4 20c0-4 3.6-7 8-7s8 3 8 7" />
          </svg>
        </div>
      </div>

      <div class="flex items-center justify-between px-6 py-2">
        <div class="flex flex-col items-center gap-2 flex-1">
          <img
            [src]="imageHost + '/images/team/' + match.homeTeam.id + '.png'"
            [alt]="match.homeTeam.name"
            class="w-14 h-14 object-contain"
          />
          <span class="font-semibold">
            <span class="sm:hidden">{{ match.homeTeam.shortName }}</span>
            <span class="hidden sm:block">{{ match.homeTeam.name }}</span>
          </span>
        </div>

        @if (match.status !== Status.PENDING && match.status !== Status.POSTPONED) {
          <div class="flex flex-col items-center gap-1">
            <span class="text-3xl font-semibold">
              {{ match.homeTeamGoalsScored }}<span class="px-1">&ndash;</span
              >{{ match.awayTeamGoalsScored }}
            </span>
            <span class="text-sm">{{ match.elapsed }}</span>
          </div>
        } @else {
          <div class="">vs</div>
        }

        <div class="flex flex-col items-center gap-2 flex-1">
          <img
            [src]="imageHost + '/images/team/' + match.awayTeam.id + '.png'"
            [alt]="match.awayTeam.name"
            class="w-14 h-14 object-contain"
          />
          <span class="font-semibold">
            <span class="sm:hidden">{{ match.awayTeam.shortName }}</span>
            <span class="hidden sm:block">{{ match.awayTeam.name }}</span>
          </span>
        </div>
      </div>

      <div class="flex flex-col items-center gap-0.5 pb-6 opacity-75">
        <span class="text-xs" data-testid="stadium"
          >{{ match.stadium.name }}, {{ match.stadium.city }}</span
        >
        <span class="text-xs" data-testid="datetime">
          @if (match.status === Status.POSTPONED) {
            Postponed
          } @else {
            {{ match.datetime | date: 'd MMM yyyy, HH:mm' }}
          }
        </span>
      </div>
    </div>

    <div class="-mx-4 -mt-4 px-4 pt-4 bg-surface-50 rounded-t-2xl relative z-10">
      @if (matchEventsList().length > 0) {
        <div class="mb-4">
          <div class="text-xs font-semibold text-surface-500 uppercase mb-2">Match Events</div>
          <div class="rounded-2xl bg-surface-0 border border-neutral-300 p-4">
            @for (event of matchEventsList(); track $index) {
              <div
                class="flex items-center text-sm"
                [class.flex-row-reverse]="event.team === 'away'"
              >
                <div
                  class="flex flex-1 items-center justify-end gap-1"
                  [class.flex-row-reverse]="event.team === 'away'"
                >
                  <span>
                    <span class="sm:hidden">{{ event.player.shortName }}</span>
                    <span class="hidden sm:block">{{ event.player.name }}</span>
                  </span>
                  @if (event.type === 'goal' || event.type === 'penalty') {
                    <span
                      class="material-symbols-outlined"
                      style="
                        font-size: 22px;
                        font-variation-settings:
                          'FILL' 0,
                          'wght' 200,
                          'GRAD' 0,
                          'opsz' 22;
                      "
                      >sports_and_outdoors</span
                    >
                  } @else if (event.type === 'ownGoal') {
                    <span class="text-xs text-surface-500">(OG)</span>
                    <span
                      class="material-symbols-outlined text-error"
                      style="
                        font-size: 22px;
                        font-variation-settings:
                          'FILL' 0,
                          'wght' 200,
                          'GRAD' 0,
                          'opsz' 22;
                      "
                      >sports_and_outdoors</span
                    >
                  } @else if (event.type === 'redCard') {
                    <span
                      class="material-symbols-outlined text-error"
                      style="
                        font-size: 22px;
                        font-variation-settings:
                          'FILL' 1,
                          'wght' 400,
                          'GRAD' 0,
                          'opsz' 22;
                      "
                      >crop_portrait</span
                    >
                  }
                </div>
                <span class="w-8 text-center shrink-0 text-xs text-surface-500"
                  >{{ event.time }}'</span
                >
                <div class="flex-1"></div>
              </div>
            }
          </div>
        </div>
      }
      @if (match.status !== Status.PENDING) {
        @for (team of model.teams; track team.id; let index = $index) {
          @let teamStats = getTeamStats(model.playerMatchStats ?? [], team.id);
          @let substituteIndex = getSubstituteIndex(teamStats);
          <div [class.mt-4]="index > 0 || matchEventsList().length > 0">
            <div class="flex items-center gap-2 mb-2">
              <img
                [src]="imageHost + '/images/team/' + team.id + '.png'"
                [alt]="team.name"
                class="w-5 h-5 object-contain"
              />
              <span class="text-xs font-semibold text-surface-500 uppercase">
                {{ team.name }}
              </span>
            </div>
            <div class="rounded-2xl bg-surface-0 border border-neutral-300 px-4 pt-4">
              <div class="flex items-center pb-2">
                <div class="w-8 text-xs font-semibold uppercase">Pos</div>
                <div class="flex-1 text-xs font-semibold uppercase">Player</div>
                <div class="w-10 text-xs font-semibold uppercase text-right">Rtg</div>
                <div class="w-8 text-xs font-semibold uppercase text-right">Pts</div>
              </div>
              <p-accordion class="match-stats-accordion">
                @for (pms of teamStats; track pms.player.id; let index = $index) {
                  @if (index === substituteIndex) {
                    <div class="border-t border-surface-100 -mx-4"></div>
                    <div class="text-xs font-semibold uppercase pt-2 pb-2">Substitutes</div>
                  } @else if (index > 0) {
                    <div class="border-t border-surface-100 -mx-4"></div>
                  }
                  <p-accordion-panel [value]="pms.player.id">
                    <p-accordion-header>
                      <div class="flex items-center py-2.5 text-sm flex-1 min-w-0">
                        <div class="w-8 shrink-0">{{ pms.position.code }}</div>
                        <div class="flex-1 flex items-center justify-between min-w-0 mr-2">
                          <span class="flex items-center gap-1 min-w-0">
                            <span>{{ pms.player.name }}</span>
                            @if (pms.manOfTheMatch) {
                              <span
                                class="material-symbols-outlined text-emerald-950"
                                style="
                                  font-size: 16px;
                                  font-variation-settings:
                                    'FILL' 1,
                                    'wght' 400,
                                    'GRAD' 0,
                                    'opsz' 16;
                                "
                                >star</span
                              >
                            }
                            @if (pms.sharedManOfTheMatch) {
                              <span
                                class="material-symbols-outlined text-emerald-950"
                                style="
                                  font-size: 16px;
                                  font-variation-settings:
                                    'FILL' 1,
                                    'wght' 400,
                                    'GRAD' 0,
                                    'opsz' 16;
                                "
                                >star_half</span
                              >
                            }
                          </span>
                          <span class="flex items-center text-xs text-surface-500 gap-0.5">
                            @if (pms.lineup === Lineup.SUBSTITUTE && pms.substitutionOnTime > 0) {
                              <span
                                class="material-symbols-outlined text-success"
                                style="
                                  font-size: 16px;
                                  font-variation-settings:
                                    'FILL' 1,
                                    'wght' 400,
                                    'GRAD' 0,
                                    'opsz' 16;
                                "
                                >arrow_upward</span
                              >{{ pms.substitutionOnTime }}'
                            }
                            @if (pms.yellowCardTime > 0) {
                              <span
                                class="material-symbols-outlined text-warning"
                                style="
                                  font-size: 16px;
                                  font-variation-settings:
                                    'FILL' 1,
                                    'wght' 400,
                                    'GRAD' 0,
                                    'opsz' 16;
                                "
                                >crop_portrait</span
                              >{{ pms.yellowCardTime }}'
                            }
                            @if (pms.redCardTime > 0) {
                              <span
                                class="material-symbols-outlined text-error"
                                style="
                                  font-size: 16px;
                                  font-variation-settings:
                                    'FILL' 1,
                                    'wght' 400,
                                    'GRAD' 0,
                                    'opsz' 16;
                                "
                                >crop_portrait</span
                              >{{ pms.redCardTime }}'
                            }
                            @if (pms.substitutionOffTime > 0) {
                              <span
                                class="material-symbols-outlined text-error"
                                style="
                                  font-size: 16px;
                                  font-variation-settings:
                                    'FILL' 1,
                                    'wght' 400,
                                    'GRAD' 0,
                                    'opsz' 16;
                                "
                                >arrow_downward</span
                              >{{ pms.substitutionOffTime }}'
                            }
                          </span>
                        </div>
                        @if (pms.lineup === Lineup.SUBSTITUTE && pms.substitutionOnTime <= 0) {
                          <div class="w-[4.5rem] shrink-0 text-right text-sm text-surface-500">
                            SUB
                          </div>
                        } @else {
                          <div class="w-10 shrink-0 tabular-nums text-right text-sm">
                            {{ pms.rating | rating }}
                          </div>
                          <div class="w-8 shrink-0 tabular-nums text-right text-sm font-semibold">
                            {{ pms.points }}
                          </div>
                        }
                      </div>
                      <ng-template #toggleicon></ng-template>
                    </p-accordion-header>
                    <p-accordion-content>
                      <div class="grid grid-cols-2 px-4">
                        @if (!pms.d11Team.dummy) {
                          <div class="col-span-2 border-t border-surface-100 -mx-4"></div>
                          <span class="flex items-center py-2.5 text-sm">D11 team</span>
                          <span class="flex items-center py-2.5 text-sm justify-end gap-1">
                            <img
                              [src]="imageHost + '/images/d11-team/' + pms.d11Team.id + '.png'"
                              [alt]="pms.d11Team.name"
                              class="w-5 h-5 object-contain"
                            />
                            {{ pms.d11Team.name }}
                          </span>
                        }
                        @if (pms.lineup === Lineup.DID_NOT_PARTICIPATE) {
                          <div class="col-span-2 flex justify-center items-center py-4 text-sm">
                            Did not participate
                          </div>
                        } @else if (
                          pms.lineup === Lineup.SUBSTITUTE && pms.substitutionOnTime <= 0
                        ) {
                          <div class="col-span-2 flex py-2 text-sm">Unused substitute</div>
                        } @else {
                          @if (pms.goals > 0) {
                            <div class="col-span-2 border-t border-surface-100 -mx-4"></div>
                            <span class="flex items-center py-2.5 text-sm">Goals</span>
                            <span class="flex items-center py-2.5 text-sm justify-end">{{
                              pms.goals
                            }}</span>
                          }
                          @if (pms.goalAssists > 0) {
                            <div class="col-span-2 border-t border-surface-100 -mx-4"></div>
                            <span class="flex items-center py-2.5 text-sm">Assists</span>
                            <span class="flex items-center py-2.5 text-sm justify-end">{{
                              pms.goalAssists
                            }}</span>
                          }
                          @if (pms.ownGoals > 0) {
                            <div class="col-span-2 border-t border-surface-100 -mx-4"></div>
                            <span class="flex items-center py-2.5 text-sm">Own goals</span>
                            <span class="flex items-center py-2.5 text-sm justify-end">{{
                              pms.ownGoals
                            }}</span>
                          }
                          @if (pms.goalsConceded === 0 && pms.position.id < 5) {
                            <div class="col-span-2 border-t border-surface-100 -mx-4"></div>
                            <span class="flex items-center py-2.5 text-sm">Clean sheet</span>
                            <span class="flex items-center py-2.5 text-sm justify-end">
                              <span
                                class="material-symbols-outlined text-success"
                                style="
                                  font-size: 16px;
                                  font-variation-settings:
                                    'FILL' 0,
                                    'wght' 600,
                                    'GRAD' 0,
                                    'opsz' 16;
                                "
                                >check</span
                              >
                            </span>
                          }
                          @if (pms.goalsConceded > 0 && pms.position.defender) {
                            <div class="col-span-2 border-t border-surface-100 -mx-4"></div>
                            <span class="flex items-center py-2.5 text-sm">Goals conceded</span>
                            <span class="flex items-center py-2.5 text-sm justify-end">{{
                              pms.goalsConceded
                            }}</span>
                          }

                          <div class="col-span-2 border-t border-surface-100 -mx-4"></div>
                          <span class="flex items-center py-2.5 text-sm">Minutes played</span>
                          <span class="flex items-center py-2.5 text-sm justify-end">{{
                            minutesPlayed(pms)
                          }}</span>
                        }
                        <div class="col-span-2 border-t border-surface-100 -mx-4"></div>
                        <a
                          [routerLink]="['/players', pms.player.id]"
                          class="col-span-2 flex items-center justify-between py-2.5 text-sm font-semibold"
                        >
                          <span class="flex items-center gap-2">
                            <svg
                              viewBox="0 0 24 24"
                              fill="none"
                              stroke="currentColor"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              class="w-4 h-4"
                            >
                              <circle cx="12" cy="8" r="4" />
                              <path d="M4 20c0-4 3.6-7 8-7s8 3 8 7" />
                            </svg>
                            Player profile
                          </span>
                          <svg
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="w-4 h-4"
                          >
                            <path d="M9 18l6-6-6-6" />
                          </svg>
                        </a>
                      </div>
                    </p-accordion-content>
                  </p-accordion-panel>
                }
              </p-accordion>
            </div>
          </div>
        }
      }
    </div>
  }
}
