@let model = this.model();
@if (model.match; as match) {
  <app-hero-container>
    <app-match-hero heroContent [match]="match" />

    @if (isLoading()) {
      <div class="flex justify-center py-8">
        <p-progress-spinner />
      </div>
    } @else {
      @if (matchEventsList().length > 0) {
        <app-match-events-section [events]="matchEventsList()" class="mb-4" />
      }

      @if (match.status !== Status.PENDING) {
        <div class="app-responsive" [class.mt-4]="matchEventsList().length > 0">
          @for (team of model.teams; track team.id) {
            <app-team-player-match-stats-section
              class="app-fill"
              [team]="team"
              [playerMatchStats]="getTeamStats(team.id)"
            />
          }
        </div>
      }
    }
  </app-hero-container>
}
