<div class="py-4">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="app-col-4">
    <div class="app-responsive pb-4">
      <div class="app-col-4 app-fill">
        <app-section>
          <span sectionHeader>Identity</span>
          <div class="app-col-4">
            <app-input-text property="firstName" label="First name" />
            <app-input-text property="lastName" label="Last name" [required]="true" />
            <app-input-text property="fullName" label="Full name" />
          </div>
        </app-section>

        <app-section>
          <span sectionHeader>Club</span>
          <div class="app-col-4">
            <app-input-autocomplete
              property="position"
              label="Position"
              optionLabel="name"
              placeholder="Search position..."
              [suggestions]="positions()"
              [required]="true"
              (completeMethod)="onPositionSearch($event)"
            />
            <app-input-autocomplete
              property="team"
              label="Team"
              optionLabel="name"
              placeholder="Search team..."
              [suggestions]="teams()"
              [required]="true"
              (completeMethod)="onTeamSearch($event)"
            />
          </div>
        </app-section>
      </div>

      <div class="app-col-4 app-fill">
        <app-section>
          <span sectionHeader>Details</span>
          <div class="app-col-4">
            <app-input-date property="dateOfBirth" label="Date of birth" />
            <app-input-autocomplete
              property="country"
              label="Country"
              optionLabel="name"
              placeholder="Search country..."
              [suggestions]="countries()"
              (completeMethod)="onCountrySearch($event)"
            />
            <app-input-number property="height" label="Height (cm)" />
          </div>
        </app-section>

        <app-section>
          <span sectionHeader>External IDs</span>
          <div class="app-col-4">
            <app-input-number property="statSourceId" label="Stat source ID" />
            <app-input-number property="premierLeagueId" label="Premier League ID" />
          </div>
        </app-section>

        <app-button-submit [form]="form" [working]="isLoading" label="Save player" class="pt-4" />
      </div>
    </div>
  </form>
</div>
