@import "tailwindcss";
@import "tailwindcss-primeui";
@import "primeicons/primeicons.css";

@theme {
    --font-sans: InterVariable, sans-serif;
    --font-sans--font-feature-settings: "cv02", "cv03", "cv04", "cv11";

    --breakpoint-sm: 640px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1280px;
    --breakpoint-2xl: 1536px;

    --container-sm: 640px;
    --container-md: 768px;
    --container-lg: 1024px;
    --container-xl: 1280px;
    --container-2xl: 1536px;
}

@layer base {
    .primary-contrast {
        @apply text-primary-contrast font-semibold hover:text-primary-contrast hover:opacity-85;
    }

    a {
        @apply text-primary font-medium cursor-pointer;
    }
}

@layer components {
    /* Colour styling */
    .text-success {
        @apply text-(--p-success);
    }

    .bg-success {
        @apply bg-(--p-success);
    }

    .text-error {
        @apply text-(--p-error);
    }

    .bg-error {
        @apply bg-(--p-error);
    }

    .text-warning {
        @apply text-(--p-warning);
    }

    .bg-warning {
        @apply bg-(--p-warning);
    }

    .text-neutral {
        @apply text-(--p-neutral);
    }

    .bg-neutral {
        @apply bg-(--p-neutral);
    }

    /* Layout styling */
    .app-flex {
        @apply flex items-center;
    }

    .app-col-none {
        @apply flex flex-col gap-0;
    }

    .app-col-sm {
        @apply flex flex-col gap-1;
    }

    .app-col {
        @apply flex flex-col gap-4;
    }

    .app-col-margin {
        @apply mb-4;
    }

    @media (min-width: 40rem) {
        .sm\:app-col {
            @apply flex flex-col gap-4;
        }
    }

    .app-row-sm {
        @apply flex flex-row gap-2 items-center;
    }

    .app-row-md {
        @apply flex flex-row gap-4 items-center;
    }

    .app-row {
        @apply flex flex-row gap-10 items-center;
    }

    @media (min-width: 40rem) {
        .sm\:app-row {
            @apply flex flex-row gap-4 items-center;
        }
    }

    .app-grid-header {
        @apply text-xs font-semibold uppercase pb-2;
    }

    .app-grid-sub-header {
        @apply text-xs font-semibold uppercase py-2 mt-3;
    }

    .app-grid-cell {
        @apply flex text-sm items-center py-2.5;
    }

    .app-grid-separator {
        @apply border-b border-surface-200 last:border-0;
    }

    .app-grid-number {
        @apply tabular-nums text-right justify-end;
    }

    /* Text styling */
    .app-text-lowest-emphasis {
        @apply text-xs text-surface-500;
    }

    .app-text-low-emphasis {
        @apply text-sm text-surface-500;
    }

    .app-text-medium-emphasis {
        @apply text-sm font-semibold;
    }

    .app-text-high-emphasis {
        @apply font-semibold;
    }

    .app-text-highest-emphasis {
        @apply text-2xl font-bold text-primary-500;
    }

    /* Component styling */
    .app-bg-header {
        @apply bg-[url('/images/header-background.png')]! bg-cover! bg-center!
    }

    .app-dialog-header {
        @apply p-4;
    }

    .app-stat-widget {
        @apply flex flex-col gap-1 py-4 bg-primary-50 rounded-lg;
    }

    /* PrimeNG things that can't be styled in theme */
    .justify-evenly .p-tablist-tab-list {
        @apply justify-evenly;
    }

    .justify-between .p-tablist-tab-list {
        @apply justify-between;
    }

    .p-tab {
        @apply text-xs uppercase;
    }

    .p-avatar img {
        @apply object-cover object-top;
    }

    .p-button-text.p-button-primary {
        @apply hover:bg-black/10! active:bg-black/20!;
    }

    .p-dialog-header {
        @apply block! p-0!;
    }

    .p-dialog-header-actions {
        @apply hidden!;
    }

    .p-dialog-footer {
        @apply block! border-t border-surface-200;
    }

}

.vertical-align-test {
    background: linear-gradient(blue 50%, red 50%);
}

.horizontal-align-test {
    background-image: linear-gradient(to right, red 0%, red 50%, blue 50%, blue 100%);
}
