@import "tailwindcss";
@import "tailwindcss-primeui";
@import "primeicons/primeicons.css";

@theme {
    --font-sans: InterVariable, sans-serif;
    --font-sans--font-feature-settings: "cv02", "cv03", "cv04", "cv11";
}

@layer base {
    body {
        background-color: var(--p-surface-50);
        @apply pt-6;
    }
}

@layer components {

    /* Colour styling */
    .text-success {
        @apply text-(--p-success);
    }

    .bg-success {
        @apply bg-(--p-success);
    }

    .text-error {
        @apply text-(--p-error);
    }

    .bg-error {
        @apply bg-(--p-error);
    }

    .text-warning {
        @apply text-(--p-warning);
    }

    .bg-warning {
        @apply bg-(--p-warning);
    }

    .text-neutral {
        @apply text-(--p-neutral);
    }

    .bg-neutral {
        @apply bg-(--p-neutral);
    }

    /* Flex styling */
    .app-flex {
        @apply flex;
    }

    .app-fill {
        @apply flex-1 min-w-0;
    }

    .app-col {
        @apply flex flex-col;
    }

    .app-col-05 {
        @apply flex flex-col gap-0.5;
    }

    .app-col-1 {
        @apply flex flex-col gap-1;
    }

    .app-col-2 {
        @apply flex flex-col gap-2;
    }

    .app-col-3 {
        @apply flex flex-col gap-3;
    }

    .app-col-4 {
        @apply flex flex-col gap-4;
    }

    .app-row {
        @apply flex flex-row items-center;
    }

    .app-row-05 {
        @apply flex flex-row items-center gap-0.5;
    }

    .app-row-1 {
        @apply flex flex-row items-center gap-1;
    }

    .app-row-2 {
        @apply flex flex-row items-center gap-2;
    }

    .app-row-3 {
        @apply flex flex-row items-center gap-3;
    }

    .app-row-4 {
        @apply flex flex-row items-center gap-4;
    }

    /* Button styling */
    .app-button {
        @apply cursor-pointer shrink-0;
    }

    .app-button-icon {
        @apply cursor-pointer opacity-75 shrink-0;
    }

    /* Text styling */
    .app-text-hero-primary {
        @apply text-3xl font-semibold;
    }

    .app-text-hero {
        @apply text-xl;
    }

    .app-text-title {
        @apply font-semibold;
    }

    .app-text-primary {
        @apply text-sm font-semibold;
    }

    .app-text-base {
        @apply text-sm shrink-0;
    }

    .app-text-secondary {
        @apply text-sm text-surface-500 shrink-0;
    }

    .app-text-header {
        @apply text-xs font-semibold uppercase;
    }

    .app-text-label {
        @apply text-xs font-semibold text-surface-500 uppercase shrink-0;
    }

    .app-text-detail-label {
        @apply text-xs font-semibold;
    }

    .app-text-detail {
        @apply text-xs opacity-75 shrink-0;
    }

    .app-text-drawer {
        @apply text-surface-900;
    }

    .app-text-number {
        @apply tabular-nums text-right justify-end shrink-0;
    }

    /* Layout styling */
    .app-responsive {
        @apply flex flex-col md:flex-row md:items-start gap-4;
    }

    .app-circle {
        @apply w-10 h-10 rounded-full grid place-items-center shrink-0;
    }

    .app-hero {
        @apply flex items-center justify-between;
    }

    .app-hero-background {
        @apply bg-[url('/images/hero-background.png')]! lg:bg-cover!
    }

    .app-details-list-row {
        @apply flex items-center justify-between;
    }

    .app-separator {
        @apply border-t border-surface-200 -mx-4;
    }

    /** PrimeNG styling that can't be done in theme **/
    .p-accordionheader .p-icon {
        @apply hidden!;
    }

    .p-accordioncontent {
        @apply -mx-4;
    }

    .p-accordioncontent-wrapper {
        @apply overflow-hidden;
    }

    .p-drawer-mask.p-overlay-mask {
        @apply transition-opacity duration-500 ease-[cubic-bezier(0.32,0.72,0,1)];
    }

    body:not(:has(.p-drawer-open)) .p-drawer-mask.p-overlay-mask {
        @apply opacity-0;
    }

    .p-progressspinner {
        @apply size-16!;
    }

    .p-progressspinner-circle {
        @apply stroke-(--p-primary-color)!;
        animation: p-progressspinner-dash 1.5s ease-in-out infinite !important;
    }

    .p-tabpanel .app-section-header {
        @apply hidden;
    }

    .app-pill-tabs {
        .p-tablist {
            @apply py-1;
        }

        .p-tablist-tab-list {
            @apply border-b-0! pb-[2px] justify-center gap-4;
        }

        .p-tab {
            @apply rounded-2xl! text-sm;
        }
    }
}

.vertical-align-test {
    background: linear-gradient(blue 50%, red 50%);
}

.horizontal-align-test {
    background-image: linear-gradient(to right, red 0%, red 50%, blue 50%, blue 100%);
}
