<div class="app-row bg-primary text-primary-contrast rounded-sm p-2">
  <button
    (click)="active.set(!active())"
    [ngClass]="active() ? 'bg-primary-300' : ''"
    class="px-2 py-1 rounded-sm app-text-header border-none cursor-pointer outline-none min-w-12 h-9.5"
    type="button"
  >
    Live
  </button>

  @if (season(); as selectedSeason) {
    <app-match-week-scroll-picker
      class="min-w-0"
      [seasonId]="selectedSeason.id"
      [matchWeekId]="matchWeekId()"
      (matchWeekSelected)="onMatchWeekSelected($event)"
    />

    <app-match-week-picker-button
      [seasonId]="selectedSeason.id"
      [matchWeekId]="matchWeekId()"
      (matchWeekSelected)="onMatchWeekSelected($event)"
    />
  }
</div>

<div class="app-responsive py-6">
  @if (active()) {
    <app-match-week-matches-section class="app-fill" />
    <app-match-week-d11-matches-section class="app-fill" />
  } @else if (matchWeekId()) {
    <app-match-week-matches-section [matchWeekId]="matchWeekId()!" class="app-fill" />
    <app-match-week-d11-matches-section [matchWeekId]="matchWeekId()!" class="app-fill" />
  }
</div>
